<div *ngIf="customerSupportModel$ | async as data">
  <h3 class="mt-4 mb-4">Customer Support</h3>

  <div>
    <div>
      <div class="row">
        <div class="col-10">
          <h4 class="mt-2">We are here to help!</h4>
        </div>
        <div class="col-2">
          <div class="support-out-icon">
            <i class="fas fa-hands-helping"></i>
          </div>
        </div>
      </div>
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputName">Name</label>
            <input [ngModel]="data.name"
                   class="form-control"
                   id="inputName"
                   name="name"
                   type="text" />
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail">Email</label>
            <input [ngModel]="data.email"
                   class="form-control"
                   id="inputEmail"
                   name="email"
                   type="text" />
          </div>
        </div>
        <div class="form-group">
          <label for="inputMessage">Message</label>
          <textarea [ngModel]="data.message"
                    class="form-control"
                    id="inputMessage"
                    name="message"
                    rows="3">
          </textarea>
        </div>
        <ng-container *ngIf="data.isSentSuccess !== null">
          <div *ngIf="data.isSentSuccess"
               class="alert alert-dismissible alert-success">
            <button (click)="clearFeedback()"
                    class="close"
                    data-dismiss="alert"
                    type="button">
              &times;
            </button>
            <strong>We got your message {{data.name}}!</strong> We will be in touch.
          </div>
          <div *ngIf="!data.isSentSuccess"
               class="alert alert-dismissible alert-danger">
            <button (click)="clearFeedback()"
                    class="close"
                    data-dismiss="alert"
                    type="button">
              &times;
            </button>
            <strong>Oh snap!</strong> Unable to send message. Please contact us at our customer support line at 123-456-7890.
          </div>
        </ng-container>

        <div class="mt-5">
          <button class="btn btn-success" type="submit">
            Send Message
            <i class="fas fa-paper-plane"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
